body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

.body {
    display: flex;
    flex-direction: column;
}
.header, .hero, .footer {
    background-color: #1f2937;
    color: #f9faf8;
}

.header {
    padding: 0 64px;
    display: flex;
    justify-content: space-between;
}

.header .container {
    padding: 16px 0;
    display: flex;
    align-items: flex-start;
    gap: 8px;
}


.header .logotext {
    font-size: 24px;
    line-height: 0.75;
}

.header .links ul{
    display: flex;
    gap: 16px;
}

.hero {
    padding-bottom: 64px;
}

.hero .container {
    padding: 0 64px;
    display: flex;
    gap: 64px;
}

.hero .textcontainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hero .herotext {
    font-size: 48px;
    font-weight: bolder;
}

.information {
    margin-top: 32px;
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.information .informationheader {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.information .container {
    display: flex;
    gap: 64px;
}

.infoitem {
    color: #1f2937;
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 200px;
    align-items: center;
}

.infoitem .infoimage img {
    width: 200px;
    border-radius: 10%;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 64px 128px;
    display: flex;
    flex-direction: column;
}

.quote .text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote .attribution {
    font-size: 18px;
    font-weight: bolder;
    text-align: right;
}

ul {
    list-style: none;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    padding: 8px 16px;
    border: 1px solid #3882f6;
    font-weight: bold;
}